<!doctype html>

<html lang="us">

  <head>

  <meta charset="utf-8">
  <title>{%block title %}TITLE{% endblock %}</title>
  {% block styles %} {% endblock %}
  <!-- CSS
  <link rel="stylesheet" href="/path.css" type="text/css">
  -->
  <link href="/static/css/style.css" type="text/css" rel="stylesheet">

  {% block earlyscripts %} {% endblock %}
  <!-- Scripts
  <script async src="/path.js"></script>
  -->

  </head>
  <body>
    <header>
    </header>
      {% block content %} {% endblock %}

    <footer>
      <!-- Scripts
      <script async src="/path.js"></script>
      -->
	  <script src="/static/js/main.js"></script>
      {% block scripts %} {% endblock %}
    </footer>
  </body>
</html>
